/* ----------------------- Page générale --------------------------- */

html
{
	background: #dacdcd;
}

/* ------------------------- header ------------------------------- */

header
{
	font-size: 34px;
	color: #30853D;
}

/* ---------------------- contenu --------------------------- */

content
{
	position: absolute;
	top: 10%;
}

/* ---------------------- footer --------------------------------*/

footer
{	
	color: silver;
}